@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Noto+Sans+SC|Roboto+Condensed&display=swap');

/*---------------------------------header---*/

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.header-banner {
    background-color: black;
    height: 142px;
}

.header-title {
    color: #fffff0;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    margin-left: 5px;
}

#trademark {
    font-size: 15px;
    padding-left: 10px;
}

/*-----------------------------------------------menu function---*/

.text-right .btn btn-primary {
    margin-right: 30px;
}

.btn btn-primary:hover {
    color: #89DAFF;
}

.toggle-button {
    float: right;
    padding: 10px;
    margin-top: 45px;
    margin-right: 100px;
}

.background-color-black {
    background-color: black;
}

.dropdown-menu-show {
    background-color: rgba(0, 0, 0, 0.0);
    color: #fffff0;
    border-style: none;
    transition: all 1s ease-in-out;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.fixed-background {
    background-image: url("https://live.staticflickr.com/4240/34735177654_4dbf1f8e70_b.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.fixed-background1 {
    background-image: url("https://live.staticflickr.com/4233/34735179094_71f90dd533_k.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

/*----------------------------------------------main body*/

.events-font {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fffff0;
    text-decoration: underline;
}

.tour-fonts {
    font-family: 'Noto Sans SC', sans-serif;
    color: #fffff0;
}

.card1 {
    height: 90%;
    width: 100%;
}

.padding-gallery {
    padding: 63px 65px;
}

.image-padding {
    padding-right: 5px;
    padding-left: 5px;
}

.col-sm-4 {
    margin-top: 5px;
}

.video-height {
    height: 500px;
}

/*-----------------------------------------------footer---*/

.stream_margin {
    margin-right: 32px;
}

#footer {
    background-color: black;
    /*height: 180px;*/
}

.newsletter {
    font-family: 'Noto Sans SC', sans-serif;
    color: #fffff0;
}

.sign-up-label {
    text-align: center;
    color: #fffff0;
    font-family: 'Roboto Condensed', sans-serif;
}

.country-label {
    float: right;
}

.select_country {
    float: right;
    color: #fffff0;
}

.submit-country-align {
    text-align: center;
}

.music-cover {
    width: 100%;
}

.album_image {
    width: 300px;
    height: 237px;
}

.style-buy-now {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fffff0;
}

.buy_button {
    color: #fffff0;
}

.buy_button:hover {
    text-decoration: none;
    color: #89DAFF;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    line-height: 7px;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all.35s ease-in-out;
    -moz-transition: all.35s ease-in-out;
    -webkit-transition: all.35s ease-in-out;
    -o-transition: all.35s ease-in-out;
    display: inline;
}

.social-links li a i:hover {
    background: #89DAFF;
    text-decoration: none;
}

#back-to-top {
    text-decoration: none;
    color: #fffff0;
}

#back-to-top:hover {
    color: #89DAFF;
}


.subscriber_address {
    font-size: 25px;
    color: #fffff0;
}

#country_label {
    display: inline;
    font-size: 25px;
}

.album-align-center {
    text-align: center;
}

@media(max-width:600px) {

    #email {
        width: 100%;

    }

    #country {
        width: 100%;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .card1 {
        height: 66%;
    }


    #country_label {
        display: block;
        font-size: 25px;
    }

    .menu-mobile {
        margin-right: 30px;
    }

    .stream_margin {
        margin-right: 32px;
    }

    .header-title {
        padding-left: 5px;
    }
}
